<!-- <span class="sidebar-heading"><%= heading %></span> -->
<ul class="nav nav-pills flex-column" id="tutorial-sidebar">
    <% sections.forEach((section, i) => { %>
    <li class="nav-item">
        <a class="nav-link" href="#<%= section.spine %>"><%= section.name %></a>
    </li>
    <% }) %>
</ul>

<!--
<span class="sidebar-heading">
    <%= heading %>
    <ul class="nav nav-pills flex-column">
        <% sections.forEach((section, i) => { %>
        <li class="nav-item">
            <% if(i === 0) { %>
            <a class="nav-link active section-nav" id="section-<%- i %>" data-position="<%- i %>">
                <% } else { %>
                <a class="nav-link section-nav" id="section-<%- i %>" data-position="<%- i %>">
                    <% } %>
                    <%= section.name %>
                </a>
        </li>
        <% }) %>
    </ul>

-->